<!-- Awesome Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img class="flying-logo" src="{{url_for('static',filename='IMG/w1.png')}}" alt="Logo">
            <span class="fw-bold fs-4">HAWKEYE IDS</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
            aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navMenu">
            <ul class="navbar-nav mb-2 mb-lg-0">
              
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('signature_dashboard') }}"><i class="fa-solid fa-file-signature"></i> Signature IDS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('anomaly_dashboard') }}"><i class="fa-solid fa-brain"></i> Anomaly IDS</a>
                </li>
                
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_csv') }}"><i class="fas fa-upload me-1"></i>Upload CSV</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('upload_pcap')}}"><i class="fas fa-upload me-1"></i>upload PCAP</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rules_dashboard')}}"><i class="fa-solid fa-gavel me-1"></i>Rules</a>
                </li>
            
            </ul>
        </div>
    </div>
</nav>